<h1>
  {{title}}
</h1>

<!-- main app container -->
<div class="jumbotron">
  <div class="container">
      <div class="col-sm-8 col-sm-offset-2">
          <router-outlet></router-outlet>
      </div>
  </div>
</div>
S